body
{
font-family: impact,arial; Color: black; font-size: 16px; background-color: #E9C9B1
}
.italique
{
  font-style: italic;
}
footer
{
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}
a
{
  color: brown;
}
h1
{
font-family: impact,arial; Color: black; font-size: 40px; text-decoration: underline;
}
